.avatar
  overflow: hidden
  position: relative
  flex-shrink: 0
  width: 60px
  height: 60px
  border-radius: 50%
  background-color: $cl-primary

  .spinner-box
    height: 100px
    min-width: 100px

  &:hover

    .avatar__overlay
      background-color: rgba($cl-black, .6)

    .avatar__overlay-label
      transform: scale(1)

.avatar__initials
  display: flex
  align-items: center
  justify-content: center
  width: 100%
  height: 100%
  color: $cl-white
  font-size: 28px
  font-weight: $font-weight--bold
  text-transform: uppercase

.avatar__overlay
  cursor: pointer
  position: absolute
  top: 0
  left: 0
  display: flex
  align-items: center
  justify-content: center
  width: 100%
  height: 100%
  transition: background-color 200ms

.avatar__overlay-label
  color: $cl-white
  font-size: 10px
  transform: scale(0)
  transition: transform 200ms

.profile__avatar
  font-family: $font-family