@import "../../shared/assets/base"

#piggy_checkout_checkbox
  @import "../../../node_modules/@piggy-loyalty/foundation/lib/assets/sass/variables"
  @import "../../shared/assets/typography"

  .logo
    padding: 20px 0
    display: block

  .optional
    display: none

  .card
    border: 2px solid rgba($cl-purple--dark, .05)
    border-radius: 15px
    padding: 10px 20px
    display: flex
    flex-direction: column
    .custom_anchor
      text-decoration: none
      &:hover
        opacity: .5

  #pfw-staged-credit-reception-checkbox
    margin: 0 10px 0 0
    width: 20px
    height: 20px
    padding: 2px
    border-radius: 3px

  #pfw-staged-credit-reception-checkbox_field
    .checkbox
      font-family: $font-family !important
      color: $cl-purple--dark !important
      font-weight: 300 !important
      font-size: 21px

  .checkbox__title
    font-family: $font-family !important
    color: rgba($cl-purple--dark, .65) !important
    font-weight: 100 !important
    font-size: 18px


#piggy-for-woocommerce
  @import "../../../node_modules/@piggy-loyalty/foundation/lib/assets/sass/reset"
  @import "../../../node_modules/@piggy-loyalty/foundation/lib/assets/sass/variables"
  @import "../../../node_modules/@piggy-loyalty/foundation/lib/assets/sass/animations"
  @import "../../../node_modules/@piggy-loyalty/foundation/lib/assets/sass/colors"
  @import "../../../node_modules/@piggy-loyalty/foundation/lib/assets/sass/mixins"
  @import "../../../node_modules/@piggy-loyalty/foundation/lib/assets/sass/depth"
  @import "../../shared/assets/typography"
  @import "../../../node_modules/@piggy-loyalty/foundation/lib/assets/sass/grid"
  @import "../../../node_modules/@piggy-loyalty/foundation/lib/assets/sass/card"
  @import "../../shared/assets/card"
  @import "../../../node_modules/@piggy-loyalty/foundation/lib/assets/sass/navigation"
  @import "../../../node_modules/@piggy-loyalty/foundation/lib/assets/sass/button"
  @import "../../../node_modules/@piggy-loyalty/foundation/lib/assets/sass/input"
  @import "../../shared/assets/loader"
  @import "../../shared/assets/normalize-foundation"
  @import "connect"
  @import "profile"
  @import "avatar"
