&.customer
  .card
    padding: 16px

.card__content
  @include xs("-")
    padding: 0 !important
    .container
      padding: 0 !important

.profile
  max-width: 550px

.profile__heading
  flex-direction: row
  display: flex
  justify-content: space-between
  @include xs("-")
    margin: 10px 0 20px 0

.profile__logo
  @include xs("-")
    margin: auto 0

.credits__title
  line-height: normal
  color: $cl-green
  font-weight: 500
  font-size: 38px
  span
    font-weight: 100
  @include xs("-")
    margin: auto 0

.profile__content
  display: flex
  flex-direction: row
  margin: auto 0
  @include xs("-")
    .avatar
      margin: 0 auto 20px auto

  .profile__avatar
    margin: 0 20px 0 0

  .profile__title
    margin: 0
    padding: 10px 0 0 0
    font-size: 23px
    color: $cl-purple--dark
    @include xs("-")
      font-size: 18px

  .profile__subtitle
    margin: 0
    padding: 5px 0
    font-size: 18px
    color: rgba($cl-purple--dark, .75)
    font-weight: 100
    @include xs("-")
      font-size: 13px

.profile__footer
  padding-top: 20px
  margin-top: 20px
  border-top: 2px solid rgba($cl-purple--dark, .05)

  .profile__link
    text-decoration: none
    font-family: $font-family
    color: rgba($cl-purple--dark, .75)
    font-size: 18px
    &:hover
      cursor: pointer
    @include xs("-")
      font-size: 16px