////////////////////////////////////
// Imports/font definitions
////////////////////////////////////

@font-face
  font-family: "Buenos Aires"
  font-style: normal
  font-weight: 300
  src: url("../../../node_modules/@piggy-loyalty/foundation/lib/assets/fonts/BuenosAires-Book/fonts/BuenosAiresWeb-Book.woff2") format("woff2")
  src: url("../../../node_modules/@piggy-loyalty/foundation/lib/assets/fonts/BuenosAires-Book/fonts/BuenosAiresWeb-Book.woff") format("woff")

@font-face
  font-family: "Buenos Aires"
  font-style: italic
  font-weight: 300
  src: url("../../../node_modules/@piggy-loyalty/foundation/lib/assets/fonts/BuenosAires-BookItalic/fonts/BuenosAiresWeb-BookItalic.woff2") format("woff2")
  src: url("../../../node_modules/@piggy-loyalty/foundation/lib/assets/fonts/BuenosAires-BookItalic/fonts/BuenosAiresWeb-BookItalic.woff") format("woff")

@font-face
  font-family: "Buenos Aires"
  font-style: normal
  font-weight: 400
  src: url("../../../node_modules/@piggy-loyalty/foundation/lib/assets/fonts/BuenosAires-Regular/fonts/BuenosAiresWeb-Regular.woff2") format("woff2")
  src: url("../../../node_modules/@piggy-loyalty/foundation/lib/assets/fonts/BuenosAires-Regular/fonts/BuenosAiresWeb-Regular.woff") format("woff")

@font-face
  font-family: "Buenos Aires"
  font-style: italic
  font-weight: 400
  src: url("../../../node_modules/@piggy-loyalty/foundation/lib/assets/fonts/BuenosAires-RegularItalic/fonts/BuenosAiresWeb-RegularItalic.woff2") format("woff2")
  src: url("../../../node_modules/@piggy-loyalty/foundation/lib/assets/fonts/BuenosAires-RegularItalic/fonts/BuenosAiresWeb-RegularItalic.woff") format("woff")

@font-face
  font-family: "Buenos Aires"
  font-style: normal
  font-weight: 500
  src: url("../../../node_modules/@piggy-loyalty/foundation/lib/assets/fonts/BuenosAires-SemiBold/fonts/BuenosAiresWeb-SemiBold.woff2") format("woff2")
  src: url("../../../node_modules/@piggy-loyalty/foundation/lib/assets/fonts/BuenosAires-SemiBold/fonts/BuenosAiresWeb-SemiBold.woff") format("woff")

@font-face
  font-family: "Buenos Aires"
  font-style: italic
  font-weight: 500
  src: url("../../../node_modules/@piggy-loyalty/foundation/lib/assets/fonts/BuenosAires-SemiBoldItalic/fonts/BuenosAiresWeb-SemiBoldItalic.woff2") format("woff2")
  src: url("../../../node_modules/@piggy-loyalty/foundation/lib/assets/fonts/BuenosAires-SemiBoldItalic/fonts/BuenosAiresWeb-SemiBoldItalic.woff") format("woff")

@font-face
  font-family: "Buenos Aires"
  font-style: normal
  font-weight: 700
  src: url("../../../node_modules/@piggy-loyalty/foundation/lib/assets/fonts/BuenosAires-Bold/fonts/BuenosAiresWeb-Bold.woff2") format("woff2")
  src: url("../../../node_modules/@piggy-loyalty/foundation/lib/assets/fonts/BuenosAires-Bold/fonts/BuenosAiresWeb-Bold.woff") format("woff")

@font-face
  font-family: "Buenos Aires"
  font-style: italic
  font-weight: 700
  src: url("../../../node_modules/@piggy-loyalty/foundation/lib/assets/fonts/BuenosAires-BoldItalic/fonts/BuenosAiresWeb-BoldItalic.woff2") format("woff2")
  src: url("../../../node_modules/@piggy-loyalty/foundation/lib/assets/fonts/BuenosAires-BoldItalic/fonts/BuenosAiresWeb-BoldItalic.woff") format("woff")

@font-face
  font-family: "Buenos Aires"
  font-style: normal
  font-weight: 900
  src: url("../../../node_modules/@piggy-loyalty/foundation/lib/assets/fonts/BuenosAires-Black/fonts/BuenosAiresWeb-Black.woff2") format("woff2")
  src: url("../../../node_modules/@piggy-loyalty/foundation/lib/assets/fonts/BuenosAires-Black/fonts/BuenosAiresWeb-Black.woff") format("woff")

@font-face
  font-family: "Buenos Aires"
  font-style: normal
  font-weight: 900
  src: url("../../../node_modules/@piggy-loyalty/foundation/lib/assets/fonts/BuenosAires-BlackItalic/fonts/BuenosAiresWeb-BlackItalic.woff2") format("woff2")
  src: url("../../../node_modules/@piggy-loyalty/foundation/lib/assets/fonts/BuenosAires-BlackItalic/fonts/BuenosAiresWeb-BlackItalic.woff") format("woff")
