.modal
  @extend %depth--overlay
  opacity: 0
  visibility: hidden
  position: fixed
  top: 0
  left: 0
  display: flex
  align-items: center
  justify-content: center
  width: 100%
  height: 100%
  transition:
    property: opacity, visibility
    duration: 300ms

  &.is-visible
    opacity: 1
    visibility: visible

.modal--campaign

  .modal__box
    width: auto
    min-width: 400px
    max-width: 1200px

.modal__overlay
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: rgba($cl-black, .2)

.modal__box
  @extend %depth--overlay-box
  width: 100%
  max-width: 500px
  max-height: 100vh
  // margin-left: 26rem
  border-radius: $border-radius
  background-color: $cl-white

.modal__header
  position: relative
  padding: $gutter

.modal__close
  cursor: pointer
  position: absolute
  top: 15px
  right: 15px
  width: 40px
  height: 40px
  background:
    image: url("../../../node_modules/@piggy-loyalty/foundation/lib/assets/svg/close.svg")
    position: center
    repeat: no-repeat

  span
    @extend .screen-reader

.modal__heading
  margin: 0
  padding-right: 35px
  font-size: 20px

.modal__content
  padding: $gutter

.modal__footer
  display: flex
  justify-content: flex-end
  padding: $gutter

  .button
    margin-left: $spacing
