.header--primary, .header--mobile
  height: 70px

.navigation__button, .navigation__anchor
  font-size: 14px

.button, .navigation__anchor--button, .navigation__button
  font-size: 16px
  padding: 16px 24px
  border-radius: 8px

.input--text .input__label
  height: 56px
  margin: 0 0 10px

.input--text.input--outlined .input__element
  padding: 10px 16px
  border-radius: 15px
  box-shadow: 0 0 0 1px rgb(0 0 0 / 42%) inset

.input--text.input--outlined .input__element:focus, .input--text.input--outlined .input__element:hover
  box-shadow: 0 0 0 1px rgb(0 0 0 / 42%) inset !important

.input--switch .input__placeholder, .input--radio .input__placeholder, .input--text.input--outlined .input__placeholder
  top: 0
  padding: 0 8px
  font-size: 16px

.input--text.input--outlined .input__placeholder
  top: 17px

input
  &[type="radio"]
    margin-right: 2.5px
    margin-top: 0px
    &:checked
      &::before
        width: 5px
        height: 5px
        margin: 1.8px

.input__switch
  width: 45px
  height: 24px
  border-radius: 50px
  margin-right: 10px
  &::before
    left: 5px
    width: 16px
    height: 16px
    top: calc(50% - 8px)

.input__radio
  width: 40px
  height: 40px
  top: calc(50% - 20px)
  left: -10px

.input--radio .input__element
  width: 20px
  height: 20px
  &:checked
    box-shadow: 0 0 0 2px #3CCA93 inset, 0 0 0 5px #FFF inset

.input--color .input__button
  width: 56px
  height: 56px
  box-shadow: 0 0 0 1px #333333 inset

.input--text .input__element
  padding: 20px 16px 6px
  border-radius: 4px 4px 0 0

.card
  max-width: unset
  max-height: unset

.card__header
  margin: 0 16px
  padding: 16px 0

  h3
    padding: 10px 0

.card__heading
  font-size: 22px

.card__content
  h4
    padding: 10px 0
    line-height: 30px

.accordion
  border-radius: 9px
  border: none

.accordion__title
  font-size: 20px
  margin: 5px 0

.accordion__text
  font-size: 17px
  div
    margin: 10px 0

.header__logo
  img
    max-width: 80px

.group
  > div
    padding: 20px
    .card
      margin: 15px

.select__label
  height: 56px
  margin: 0 0 10px

.select__placeholder
  font-size: 14px
  left: 16px

.select__element
  padding: 20px 32px 4px 16px
  border-radius: 4px 4px 0 0

.input--color svg
  right: 17px

.action-card
  min-width: 320px

  .action-card__image
    padding: 20px
    margin: 16px 0 0
    max-height: 140px

  .action-card__header
    margin: 0 16px 0
    padding: 16px 0

  .action-card__heading
    padding: 20px
    font-size: 22px

  .action-card__content
    padding: 16px

  .action-card__footer
    padding: 16px

.input__placeholder
  font-size: 16px
  left: 16px

.button--primary-ghost
  box-shadow: 0 0 0 1px $cl-orange inset

.button
  font-weight: 400 !important