.react-toast-notifications__container
  margin-top: 30px

#piggy-for-woocommerce
  .card
    max-width: unset
    border: unset !important

.wp-core-ui
    #piggy-for-woocommerce
      .button
        border: none

      &.button-secondary
        border: none