@import "../../../node_modules/@piggy-loyalty/foundation/lib/assets/sass/variables"
@import "../../../node_modules/@piggy-loyalty/foundation/lib/assets/sass/mixins"

////////////////////////////////////
// Variables
////////////////////////////////////

$font-family:             "Buenos Aires"
$font-size--primary:      17px

$font-weight--book:       300
$font-weight--regular:    400
$font-weight--semibold:   500
$font-weight--bold:       700
$font-weight--black:      900

////////////////////////////////////
// Headings + body
////////////////////////////////////

body
  font-family: $font-family

h1,
h2,
h3,
h4,
h5,
h6
  font-family: $font-family
  font-weight: $font-weight--regular
  line-height: 14px
  margin-bottom: 20px

h1
  @include font-size(32px, 47px)

h2
  @include font-size(26px, 32px)

h3
  @include font-size(22px, 28px)

h4
  @include font-size(20px, 24px)

.heading--primary
  line-height: 1
  letter-spacing: .2px
  text-transform: lowercase
  font-weight: $font-weight--semibold

// Visually hide an element, but leave it available for screen readers
.screen-reader
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  white-space: nowrap
  width: 1px

//Extends the .screen-reader class to allow the element to be focusable when navigated to via the keyboard
.screen-reader--focusable:active,
.screen-reader--focusable:focus
  clip: auto
  height: auto
  margin: 0
  overflow: visible
  position: static
  white-space: normal
  width: auto
