&.admin__container
  width: calc(100% + 20px)
  left: -20px

.header__top-back
  padding: 20px
  span
    margin: 0 10px
    font-size: 20px
    color: $cl-purple--dark

.action-card__container
  margin: .5rem
  display: flex

.action-card
  animation: fadeIn 500ms both 1
  margin: 10px
  .action-card__heading
    color: $cl-purple--dark

.card
  z-index: 1

.container--fluid
  padding: 16px

.status__container
  margin: 10px 0

  .status__row
    color: $cl-purple--dark
    padding: 10px 20px
    font-weight: 400
    font-size: 21px
    span
      margin-left: 20px

    &.connected
      span
        color: $cl-secondary
    &.connectionFailed
      span
        color: $cl-danger

.status__buttons
  .button
    margin-bottom: 10px

.admin-form
  padding: 20px
  h4
    color: $cl-purple--dark