.settings

  .cw_custom_class
    padding: 20px

    .checkbox
      margin-right: 10px

.settings__footer
  margin: 20px 0 0 0
  padding: 0

.settings--flow
  margin: initial

.accordion__wrapper
  padding: 20px
  .accordion__section
    width: 100%

.pagination__wrapper
  .button
    margin: 30px
    &:last-child
      justify-self: flex-end

  .pagination__content
    font-size: 14px
    margin: auto

.download__wrapper
  position: absolute
  top: 1rem
  right: 4rem

  .button
    color: $cl-primary

.input__wrapper
  padding: 0