.left
  padding: 0 80px 0 0
  .checkout__footer
    .description
      padding: 100px 20px 20px 20px

.right
  border-left: 1px solid #ececec
  padding-left: 50px
  @include sm("-")
    padding: 0
  @include xs("-")
    border: none

  .cta__button
    .button
      margin: 20px auto

.checkout__heading
  h1
    color: $cl-purple--dark

.description
  color: $cl-purple--dark
  a
    color: $cl-purple

.setup-form
  max-width: 450px
  padding: 20px

.setup-form__heading
  padding: 0 0 25px 0
  h1
    line-height: 50px
    color: $cl-purple--dark
  p
    color: $cl-purple--dark

.setup-form__select
  padding: 25px 0

.setup-form__footer
  margin: 25px 0

  .button
    margin: 0 20px 0 0